body {
    background-color: antiquewhite;

  }

.login {
    border: 3px solid;
    background-color: white;
    width: 400px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;

}

form {
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;
}